<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% if(htmlWebpackPlugin.options.files) { %>
        <!-- Google Tag Manager -->
    <script>
    var ga=()=>{};
    </script>
    <!-- End Google Tag Manager -->
        <% } %>
    <script src="https://aframe.io/releases/0.9.2/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-state-component@6.6.0/dist/aframe-state-component.min.js"></script>
    <script src="https://unpkg.com/aframe-layout-component@4.3.1/dist/aframe-layout-component.min.js"></script>
    <script src="https://unpkg.com/aframe-look-at-component@0.8.0/dist/aframe-look-at-component.min.js"></script>
    <script src="bundle.js"></script>
</head>

<body>
        
    <a-scene id="scene" vr-mode-ui="enabled: false">
        <a-assets preload="auto" >
            <!-- Room -->
            <!-- <img id="room1" crossorigin="anonymous" src="https://static.wixstatic.com/media/1f2952_17f6e6be9bf04bacb9c9d8a485674c4a~mv2_d_4096_2048_s_2.jpg/v1/fit/w_2048,h_2048/1f2952_17f6e6be9bf04bacb9c9d8a485674c4a~mv2_d_4096_2048_s_2.jpg"> -->
            <!-- <img id="room2" crossorigin="anonymous" src="https://static.wixstatic.com/media/1f2952_ec85ddc56bfb4486a8b7562e3b3a2d41~mv2_d_4096_2048_s_2.jpg/v1/fit/w_2048,h_2048/1f2952_ec85ddc56bfb4486a8b7562e3b3a2d41~mv2_d_4096_2048_s_2.jpg"> -->
            <!-- <img id="room3" crossorigin="anonymous" src="https://static.wixstatic.com/media/1f2952_f1184c50096d4f829be00fa754f65db0~mv2_d_4096_2048_s_2.jpg/v1/fit/w_2048,h_2048/1f2952_f1184c50096d4f829be00fa754f65db0~mv2_d_4096_2048_s_2.jpg"> -->
            <img preloader="true" id="room3" crossorigin="anonymous"
                src="https://static.wixstatic.com/media/e4ae07_f737146fcd6241e3b064472d33b7e2a8~mv2_d_5376_2688_s_4_2.jpg/v1/fit/w_2048,h_2048/e4ae07_f737146fcd6241e3b064472d33b7e2a8~mv2_d_5376_2688_s_4_2.jpg">
            <img preloader="true" id="room2" crossorigin="anonymous"
                src="https://static.wixstatic.com/media/e4ae07_519114fae6954d3bb1ca8b14a00a46c1~mv2_d_5376_2688_s_4_2.jpg/v1/fit/w_2048,h_2048/e4ae07_519114fae6954d3bb1ca8b14a00a46c1~mv2_d_5376_2688_s_4_2.jpg">
            <img preloader="true" id="room1" crossorigin="anonymous"
                src="https://static.wixstatic.com/media/e4ae07_7a6dc35e7b324b24830d3acf5537309f~mv2_d_5376_2688_s_4_2.jpg/v1/fit/w_2048,h_2048/e4ae07_7a6dc35e7b324b24830d3acf5537309f~mv2_d_5376_2688_s_4_2.jpg">
                <!-- Professore -->
            <img preloader="true" id="CRISTINAACIDINI" crossorigin="anonymous"
                src="https://static.wixstatic.com/media/e4ae07_755b1f3f04334274ae96b58879863993~mv2.png/v1/fit/w_128,h_128/e4ae07_755b1f3f04334274ae96b58879863993~mv2.png">
            <img preloader="true" id="DARIONARDELLA" crossorigin="anonymous"
                src="https://static.wixstatic.com/media/e4ae07_b4355bb5665d4537bbb7472581cf29f8~mv2.png/v1/fit/w_128,h_128/e4ae07_b4355bb5665d4537bbb7472581cf29f8~mv2.png">
            <img preloader="true" id="FANDIAN" crossorigin="anonymous"
                src="https://static.wixstatic.com/media/e4ae07_b4be42a84e8b4373a273d90882f404e3~mv2.png/v1/fit/w_128,h_128/e4ae07_b4be42a84e8b4373a273d90882f404e3~mv2.png">
            <img preloader="true" id="SHANGHUI" crossorigin="anonymous"
                src="https://static.wixstatic.com/media/e4ae07_83fa98a7384d418495c5860f58fc8367~mv2.png/v1/fit/w_128,h_128/e4ae07_83fa98a7384d418495c5860f58fc8367~mv2.png">
            <img preloader="true" id="SHAODAZHEN" crossorigin="anonymous"
                src="https://static.wixstatic.com/media/e4ae07_d42fd8d1fcb84f29a5d01ca310d7b569~mv2.png/v1/fit/w_128,h_128/e4ae07_d42fd8d1fcb84f29a5d01ca310d7b569~mv2.png">
            <img preloader="true" id="TOMMASOSACCHI" crossorigin="anonymous"
                src="https://static.wixstatic.com/media/e4ae07_066d6011c6704489bcec23df8f0c11e2~mv2.png/v1/fit/w_128,h_128/e4ae07_066d6011c6704489bcec23df8f0c11e2~mv2.png">
            <img preloader="true" id="VINCENZOVACCARO" crossorigin="anonymous"
                src="https://static.wixstatic.com/media/e4ae07_e8c1b26e5fb34b70b647e6f0b6865bc6~mv2.png/v1/fit/w_128,h_128/e4ae07_e8c1b26e5fb34b70b647e6f0b6865bc6~mv2.png">
            <!-- icon -->
            <img preloader="true" id="LOC1" crossorigin="anonymous"
            src="https://static.wixstatic.com/media/e4ae07_e5778ed7cef24d78b845619faa70851b~mv2.png/v1/fit/w_128,h_128/e4ae07_e5778ed7cef24d78b845619faa70851b~mv2.png">
            <img preloader="true" id="LOC2" crossorigin="anonymous"
            src="https://static.wixstatic.com/media/e4ae07_62f495b2dca04b9d8e2ec225e2a60917~mv2.png/v1/fit/w_64,h_64/e4ae07_62f495b2dca04b9d8e2ec225e2a60917~mv2.png">
            <!-- book -->
            <a-asset-item preloader="true" id="book_gltf" src="https://rawcdn.githack.com/carllx/hyuch360/f5115765d5541d5d804ebb27b0e883af2c74bc9e/src/static/book.glb"></a-asset-item>
            <img preloader="true" id="book_diff" crossorigin="anonymous"
            src="https://static.wixstatic.com/media/e4ae07_85801be724634657a1e58a58e01aed44~mv2_d_4096_4096_s_4_2.png/v1/fit/w_1024,h_1024/e4ae07_85801be724634657a1e58a58e01aed44~mv2_d_4096_4096_s_4_2.png">
            <!-- logos -->
            <img preloader="true" id="logoMedici" crossorigin="anonymous"
            src="https://static.wixstatic.com/media/e4ae07_fe459cd820464052800d75f17d628d2d~mv2.png/v1/fit/w_128,h_128/e4ae07_fe459cd820464052800d75f17d628d2d~mv2.png">
            <img preloader="true" id="logoUffizi" crossorigin="anonymous"
            src="https://static.wixstatic.com/media/e4ae07_24024af2b18540208f1b4689ef0381d4~mv2.png/v1/fit/w_128,h_128/e4ae07_24024af2b18540208f1b4689ef0381d4~mv2.png">
            <img preloader="true" id="logoMandragora" crossorigin="anonymous"
            src="https://static.wixstatic.com/media/e4ae07_f363f75e121644d4a44739e110489ca6~mv2.png/v1/fit/w_128,h_128/e4ae07_f363f75e121644d4a44739e110489ca6~mv2.png">
            
        </a-assets>
        <!-- <a-box id='test' color="tomato" depth="0.02" height="0.4" width="0.05"></a-box> -->
        <a-sky id="background" src="#room1" rotation="0 -90 0"></a-sky>
        <!-- book -->
        <a-entity id="book" ></a-entity>
        <!-- camera -->
        <a-entity id="cam" camera position="4.895750045776367 -1.2412012815475464 0.3603135347366333" look-controls>

            <!-- cursor -->
            <!-- <a-entity 
            raycaster="objects: [raycastable]" 
            cursor="fuse:true;fuseTimeout:1000; " 
            geometry="primitive:ring;radiusInner:0.017;radiusOuter:0.02" position="0 0 -1.8" 
            material="shader:flat;color:#F2F5F3"
            animation__mouseenter__size="property:scale;to:5 5 5;startEvents:mouseenter;dur:1000;easing:easeOutQuart;"
            animation__mouseleave__size="property:scale;to:1 1 1;startEvents:mouseleave;dur:300;easing:easeOutQuart;"
            animation__mouseenter__color="property:material.color;to:#5EEB6C;startEvents:mouseenter;dur:1000;easing:easeOutQuart;"
            animation__mouseleave__color="property:material.color;to:#F2F5F3;startEvents:mouseleave;dur:300;"></a-entity> -->
            <a-entity cursor="rayOrigin: mouse;" raycaster="objects: [raycastable]"></a-entity>


        </a-entity>
        <!-- Opere component -->
        <a-entity id="opere" position="0 0 0" rotation="0 0 0" scale="1 1 1"></a-entity>

        <!-- door componet -->
        <a-entity id="porta" position="0 0 0" rotation="0 0 0"></a-entity>


        <!-- <a-sphere o_door="index:1;" radius="0.4" position="4.96167 -1 -3.42365" material="color: #131313; shader: flat;"
            look-at="[camera]" geometry="segmentsHeight: 12; segmentsWidth: 9" ">    
        </a-sphere> -->


        <!-- Language componet -->
        <a-entity position="5 -2 -4.16903">
            <a-sphere radius="0.2" position="-1 -1 0" material="color: #131313; shader: flat;" raycastable
                look-at="[camera]" geometry="segmentsHeight: 12; segmentsWidth: 9" o_lang="text:ITALIANO">
            </a-sphere>
            <a-sphere radius="0.2" position="1 -1 0" material="color: #131313; shader: flat;" raycastable
                look-at="[camera]" geometry="segmentsHeight: 12; segmentsWidth: 9" o_lang="text:ENGLISH">
            </a-sphere>
        </a-entity>

        
    </a-scene>


</body>

</html>
